/* @font-face {
    font-family: "Barsley";
    src: url("../../public/font/Brasley-Regular/brasley-regular-webfont.ttf");
    src: url("../../public/font/Brasley-Regular/brasley-regular-webfont.woff") format("woff")
    }
@font-face {
    font-family: "Barsley-SemiboldItalic";
    src: url("../../public/font/Brasley-SemiBoldItalic/Brasley-SemiBoldItalic.ttf");
    src: url("../../public/font/Brasley-SemiBoldItalic/Brasley-SemiBoldItalic.woff") format("woff")
    }
@font-face {
    font-family: "Barsley-Semibold";
    src: url("../../public/font/Brasley-SemiBold/Brasley-SemiBold.ttf");
    src: url("../../public/font/Brasley-SemiBold/Brasley-SemiBold.woff") format("woff")
    } */
    body {
        font-family: 'Barsley';
        margin: 0px 100px;
    }
    .header-container {
        display: flex;
        justify-content: center;
    }
    
    .main-container {
        display: flex;
        justify-content: center;
    }
    .left-sidebar{
        border: 1px solid #dcdcdc;
        flex: 1;
        /*background-color: #dcdcdc;
        height: 100px;*/
    }
    .right-sidebar{
        border: 1px solid #dcdcdc;
        flex: 2;
        /*background-color: lightgray;
        height: 100px;*/
    }
    
    .main-header{
        display: flex;
        justify-content: center;
        height: 30px;
        
    }
    .main-header-leftsidebar{
        flex: 1;
        /*height: 20px;*/
        border: 1px solid #dcdcdc; 
        text-align: center;
         padding-top:3px ;  
         font-weight: bold;
    }
    .main-header-rightsidebar{
        flex: 2;
        /*height: 20px;*/
        border: 1px solid #dcdcdc;
        text-align: center;
        padding-top:3px ;
        font-weight: bold;
    }
    .cart-count {
        background-color: lightblue;
        width: 19px;
        /* padding: 2px; */
        border-radius: 50%;
        display: inline-block;
        height: 19px;
    }
    .items-div {
        display: flex;
        flex-wrap: wrap;
        background-color: #F4F6F8;
        
    }
    .items{
        /*margin: 10px;*/
        padding: 10px;
        width : 130px;
        /*border: 1px solid #dcdcdc;*/
        border-radius: 5px;   
        display: flex;
        flex-direction: column; 
    }
    .item-image{
        /*border: 1px solid #dcdcdc;
        border-radius: 5px;    
        padding : 20px 30px 20px 30px;
        margin-bottom: 5px;*/
        display: flex;
        justify-content: center;
    }
    .item-image img {
        width : 120px;
        height : 120px;
        border-radius: 5px;
    }
    .item-name{
        font-size: 14px;
    }
    .food-type{
        display: flex;
        font-family: Barsley-Semibold;
        margin:3px;
    }
    .small img{
        width: 15px;
        height: 15px;
    }
    .price{
        font-family: "Barsley-Semibold";
        margin:3px;
    }
    .cart-list{
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding: 15px 0px;
        border-bottom: 1px solid #dcdcdc;
        margin-left:10%;
    }
    .cart-image img{
        width:55px;
        height:55px;
    }
    .cart-food-type-image img{
        width:15px;
        height:15px;
    }
    .cart-price{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .cart-total{
        width:80%;
        margin-left:13%;
    }
    .cart-total h4{
        background-color: #EAF5FA;
        padding : 5px;
    }
    
    /* Cart Quantity styles*/
    
    .quantity {
        padding-top: 10px;
        margin-right: 40px;
      }
      .quantity input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
      }
       
      button[class*=btn] {
        width: 25px;
        height: 25px;
        background-color: #E1E8EE;
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
      .minus-btn img {
        margin-bottom: 3px;
      }
      .plus-btn img {
        margin-top: 2px;
      }
       
      button:focus,
      input:focus {
        outline:0;
      }